.alert{
	position: absolute;
	top: 100px;
	left: 25%;
	width: 50%;
	height: 100px;
	line-height: 100px;
	text-align: center;
	z-index: 2;
}
.card-header, .form-group{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.form-group label{
	width: 40%;
}

#showbook{
	padding-top:10px;
}

.table-responsive {
    max-height:200px;
}